a {
    cursor: pointer;
}
.dropdown-menu>li>a:hover {
    background-color: #15a589;
}

img {
    cursor: pointer;
    margin: 5px;
    max-height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    display: inline;
}